<?xml version="1.0"?>
<?xml-stylesheet type='text/xsl' href='style.xsl'?>
<config>
	<!-- The location that files should be downloaded to -->
	<downloadlocation>C:\temp\</downloadlocation>
	<product name="core">
		<bamboo>
			<projectkey>CO</projectkey>
			<plankey>CI</plankey>
			<buildnumber>latest</buildnumber>
		</bamboo>
		<files>
			<!-- File locations can be passed as HTML links, GIT Links or Windows locations -->
			<!-- You can set uselocalartifacts to true to override pulling artifacts down from bamboo -->
			<uselocalartifacts>True</uselocalartifacts>
			<!-- artifacts is the location of the artifacts directory containing core-database, web-service etc. -->
			<artifacts>C:\temp\CO-CI-latest</artifacts>
			<!-- databaseBackup is the location of the BAK file export -->
			<databaseName>core</databaseName>
			<databaseBackup>C:\temp\test-machine-spike\CI_Core.BAK</databaseBackup>
			<!-- moddedBuildTools allows us to pass a diffetect build-tools directory than the one that is pulled down with artifacts. This as because some of the deployment scripts need to modified to allow for local deployment. -->
			<moddedBuildTools>C:\temp\test-machine-spike\build-tools</moddedBuildTools>
		</files>
		<dependencies>
			<dependency></dependency>
		</dependencies>
	</product>
	<product name="psi">
		<bamboo>
			<projectkey>PSI</projectkey>
			<plankey>CI</plankey>
			<buildnumber>latest</buildnumber>
		</bamboo>
		<files>
			<!-- File locations can be passed as HTML links, GIT Links or Windows locations -->
			<!-- You can set uselocalartifacts to true to override pulling artifacts down from bamboo -->
			<uselocalartifacts>True</uselocalartifacts>
			<!-- artifacts is the location of the artifacts directory containing core-database, web-service etc. -->
			<artifacts>C:\temp\PSI-CI-latest</artifacts>
			<!-- databaseBackup is the location of the BAK file export -->
			<databaseName>psi</databaseName>
			<databaseBackup>C:\temp\test-machine-spike\CI_Psi.BAK</databaseBackup>
			<!-- moddedBuildTools allows us to pass a diffetect build-tools directory than the one that is pulled down with artifacts. This as because some of the deployment scripts need to modified to allow for local deployment. -->
			<moddedBuildTools>C:\temp\test-machine-spike\build-tools</moddedBuildTools>
		</files>
		<dependencies>
			<dependency>core</dependency>
			<dependency>fileactive</dependency>
		</dependencies>
	</product>
	<product name="austraclear">
		<bamboo>
			<projectkey>AOU</projectkey>
			<plankey>CI</plankey>
			<buildnumber>latest</buildnumber>
		</bamboo>
		<files>
			<!-- File locations can be passed as HTML links, GIT Links or Windows locations -->
			<!-- You can set uselocalartifacts to true to override pulling artifacts down from bamboo -->
			<uselocalartifacts>True</uselocalartifacts>
			<!-- artifacts is the location of the artifacts directory containing core-database, web-service etc. -->
			<artifacts>C:\temp\AOU-CI-latest</artifacts>
			<!-- databaseBackup is the location of the BAK file export -->
			<databaseName>austraclear</databaseName>
			<databaseBackup>C:\temp\test-machine-spike\CI_Austraclear.BAK</databaseBackup>
			<!-- moddedBuildTools allows us to pass a diffetect build-tools directory than the one that is pulled down with artifacts. This as because some of the deployment scripts need to modified to allow for local deployment. -->
			<moddedBuildTools>C:\temp\test-machine-spike\build-tools</moddedBuildTools>
		</files>
		<dependencies>
			<dependency>core</dependency>
			<dependency>fileactive</dependency>
		</dependencies>
	</product>
	<product name="gcs">
		<bamboo>
			<projectkey>CSII</projectkey>
			<plankey>CI</plankey>
			<buildnumber>latest</buildnumber>
		</bamboo>
		<files>
			<!-- File locations can be passed as HTML links, GIT Links or Windows locations -->
			<!-- You can set uselocalartifacts to true to override pulling artifacts down from bamboo -->
			<uselocalartifacts>True</uselocalartifacts>
			<!-- artifacts is the location of the artifacts directory containing core-database, web-service etc. -->
			<artifacts>C:\temp\CSII-CI-latest</artifacts>
			<!-- databaseBackup is the location of the BAK file export -->
			<databaseName>CourierService</databaseName>
			<databaseBackup>C:\temp\test-machine-spike\CI_CourierService.BAK</databaseBackup>
			<!-- moddedBuildTools allows us to pass a diffetect build-tools directory than the one that is pulled down with artifacts. This as because some of the deployment scripts need to modified to allow for local deployment. -->
			<moddedBuildTools>C:\temp\test-machine-spike\build-tools</moddedBuildTools>
		</files>
		<dependencies>
			<dependency>core</dependency>
			<dependency>fileactive</dependency>
		</dependencies>
	</product>
	<product name="transactive-Bcp">
		<bamboo>
			<projectkey>TBCP</projectkey>
			<plankey>CI</plankey>
			<buildnumber>latest</buildnumber>
		</bamboo>
		<files>
			<!-- File locations can be passed as HTML links, GIT Links or Windows locations -->
			<!-- You can set uselocalartifacts to true to override pulling artifacts down from bamboo -->
			<uselocalartifacts>True</uselocalartifacts>
			<!-- artifacts is the location of the artifacts directory containing core-database, web-service etc. -->
			<artifacts>C:\temp\TBCP-CI-latest</artifacts>
			<!-- databaseBackup is the location of the BAK file export -->
			<databaseName>TransactiveBcp</databaseName>
			<databaseBackup>C:\temp\test-machine-spike\CI_Tbcp.BAK</databaseBackup>
			<!-- moddedBuildTools allows us to pass a diffetect build-tools directory than the one that is pulled down with artifacts. This as because some of the deployment scripts need to modified to allow for local deployment. -->
			<moddedBuildTools>C:\temp\test-machine-spike\build-tools</moddedBuildTools>
		</files>
		<dependencies>
			<dependency>core</dependency>
			<dependency>fileactive</dependency>
		</dependencies>
	</product>
	<product name="fileactive">
		<bamboo>
			<projectkey>MFT</projectkey>
			<plankey>CI</plankey>
			<buildnumber>latest</buildnumber>
		</bamboo>
		<files>
			<!-- File locations can be passed as HTML links, GIT Links or Windows locations -->
			<!-- You can set uselocalartifacts to true to override pulling artifacts down from bamboo -->
			<uselocalartifacts>True</uselocalartifacts>
			<!-- artifacts is the location of the artifacts directory containing core-database, web-service etc. -->
			<artifacts>C:\temp\MFT-CI-latest</artifacts>
			<!-- databaseBackup is the location of the BAK file export -->
			<databaseName>Fileactive</databaseName>
			<databaseBackup>C:\temp\test-machine-spike\CI_Fileactive.BAK</databaseBackup>
			<!-- moddedBuildTools allows us to pass a diffetect build-tools directory than the one that is pulled down with artifacts. This as because some of the deployment scripts need to modified to allow for local deployment. -->
			<moddedBuildTools>C:\temp\test-machine-spike\build-tools</moddedBuildTools>
		</files>
		<dependencies>
			<dependency>core</dependency>
		</dependencies>
	</product>
	<product name="fileactive_workflow">
		<bamboo>
			<projectkey>FAW</projectkey>
			<plankey>CI</plankey>
			<buildnumber>latest</buildnumber>
		</bamboo>
		<files>
			<!-- File locations can be passed as HTML links, GIT Links or Windows locations -->
			<!-- You can set uselocalartifacts to true to override pulling artifacts down from bamboo -->
			<uselocalartifacts>True</uselocalartifacts>
			<!-- artifacts is the location of the artifacts directory containing core-database, web-service etc. -->
			<artifacts>C:\temp\FAW-CI-latest</artifacts>
			<!-- databaseBackup is the location of the BAK file export -->
			<databaseName></databaseName>
			<databaseBackup></databaseBackup>
			<!-- moddedBuildTools allows us to pass a diffetect build-tools directory than the one that is pulled down with artifacts. This as because some of the deployment scripts need to modified to allow for local deployment. -->
			<moddedBuildTools>C:\temp\test-machine-spike\build-tools</moddedBuildTools>
		</files>
		<dependencies>
			<dependency>core</dependency>
		</dependencies>
	</product>
	<product name="lvss">
		<bamboo>
			<projectkey>LVSS</projectkey>
			<plankey>CI</plankey>
			<buildnumber>latest</buildnumber>
		</bamboo>
		<files>
			<!-- File locations can be passed as HTML links, GIT Links or Windows locations -->
			<!-- You can set uselocalartifacts to true to override pulling artifacts down from bamboo -->
			<uselocalartifacts>True</uselocalartifacts>
			<!-- artifacts is the location of the artifacts directory containing core-database, web-service etc. -->
			<artifacts>C:\temp\LVSS-CI-latest</artifacts>
			<!-- databaseBackup is the location of the BAK file export -->
			<databaseName>lvss</databaseName>
			<databaseBackup>C:\temp\test-machine-spike\CI_lvss.BAK</databaseBackup>
			<!-- moddedBuildTools allows us to pass a diffetect build-tools directory than the one that is pulled down with artifacts. This as because some of the deployment scripts need to modified to allow for local deployment. -->
			<moddedBuildTools>C:\temp\test-machine-spike\build-tools</moddedBuildTools>
		</files>
		<dependencies>
			<dependency>core</dependency>
		</dependencies>
	</product>
</config>